<div class="vertical-center">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Registration</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Firstname</span>
                    <input type="text" class="form-control" placeholder="Firstname..." aria-describedby="basic-addon1">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Lastname</span>
                    <input type="text" class="form-control" placeholder="Lastname..." aria-describedby="basic-addon1">
                </div>
                <br/>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username..." aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">@inveritasoft.com</span>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Password</span>
                    <input type="password" class="form-control" placeholder="Password..." aria-describedby="basic-addon1">
                </div>
                <br/>
                <button type="button" class="btn btn-primary pull-right">Register</button>
            </div>
        </div>
    </div>
</div>